subscription_id = "b497fd69-266c-46a9-b55b-8be0cd579667"
tenant_id       = "20f4acc9-f9f2-4ee9-b614-bc33742ece36"
location        = "East US 2"
environment     = "dev"
prefix          = "joe-meza-iac"
suffix          = "001"

image_name = "jmeza17/iac-final-app"
image_tag  = "1.0.0"

secret_name  = "app-secret"
# NO versionar el valor real. Pasar con TF_VAR_secret_value al aplicar.
secret_value = "cambiar-por-TF_VAR_secret_value"
